#contentItemsCarrousell
{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;
}
.itemcarrousell
{
    border: 1px solid black;
    height: 200px;
    position: relative;
}
.tarjetaCarrousell
{
    background-color: skyblue;
    height: 100%;
}
.Flechas 
{
    background-color: rgba(26, 26, 77, 0.831);
    position: absolute;
    top: 0;
    height: 80%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#tarjetaCarrousell-1
{
    background-color: blueviolet;
}

#tarjetaCarrousell-2
{
    background-color: rgb(35, 4, 63);
}

#tarjetaCarrousell-3
{
    background-color: rgb(3, 35, 100);
}