:root{
--main-letra-color: #3F3429;
--main-border-color:#3F3429;
--main-footer-color:#3F3429;
--main-bg-secondary-color: #D5D0CC;
--main-h1: 70px;
--main-h2: 40px;
--main-h3: 25px;
--main-h4: 25px;
--main-letra-chica:20px;
--main-mish-font-family:
  "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
} 
* {
    padding: 0px;
    margin: 0px;
}
main{
    color: var(--main-letra-color);
    font-family: var(--main-mish-font-family);
}
header{
    color: var(--main-letra-color);
}
p{
    margin-left: 30px;
    font-size: var(--main-letra-chica);
}
h1{
    margin-bottom: 20px;
    font-size: var(--main-h1);
}
img {
    width: 200px;
    height: 150px;
}

header {
    background-color: var(--main-bg-secondary-color);
    text-align: center;
    width: 100%;
    height: 170px;
    font-family: var(--main-mish-font-family);
}
nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

nav a{
    flex: 1;
    text-align: center;
    font-size: var(--main-letra-chica);
    text-decoration: none;
    padding: 15px;
    border-right: 1px solid var(--main-border-color);
    background-color: var(--main-bg-secondary-color);
}
nav a:last-child{
    border-right:none;
}

a:visited{
    color: var(--main-letra-color);
}
a:link{
    color: var(--main-letra-color);
}
h2{
    text-align: center;
    font-size: var(--main-h2);
}
footer {
    background-color: var(--main-footer-color);
    margin-top: 100px;
    height: 40px;
    text-align: center;
    font-size: var(--main-letra-chica);
}
.cocina{
    width: 600px;
    height: 320px;
    margin-left: 38px;
}
.mapa{
width: 200px;
height: 200px;
}
#comida{
    width: 500px;
    height: 250px;
}
.titulos{
    padding: 15px;
}
.recetasdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.receta{
    border: solid 2px var(--main-border-color);
    margin-left: 15px;
    text-align: center;
}
ol{
    font-size: var(--main-letra-chica);
}
.receta ul{
    margin-left: 85px;  
}
.receta ol{
    padding: 5px;
    margin-left: 23px;
}
ul{
    font-size: var(--main-letra-chica);
    padding: 0;
    display: inline-block;
    text-align: left;
}
h3{
    font-size: var(--main-h3);
}

#Recetas{
    margin-top: 100px;
}
.sucursales{
    background-color: var(--main-bg-secondary-color);
    width: 100%;
    height: 500px;
}

#Sucursales{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.sucursalesdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    height: 80%;
    text-align: center;
    align-items: center; 
}
h4{
    font-size: var(--main-h4);
}
.gps h3{
    margin-bottom: 15px;
}
.gps iframe{
    width: 300px;
    height: 300px;
}
form{
    font-size: var(--main-letra-chica);
    border: none;
}

input{
    margin-bottom: 20px;
    border: none;
    font-size: 17px;
}
input:last-child{
    border: 1px solid var(--main-border-color);
    background-color: var(--main-footer-color);
    color: var(--main-bg-secondary-color);
    padding: 4px;
}
select{
    margin-bottom: 20px;
}
.Registro{
    margin-top: 100px;
    margin-left: 30px;
}
.Registro h3{
margin-top: 30px;
margin-bottom: 30px;
}
.contacto{
    margin-left: 30px;  
}
.contacto ul{
    list-style-type: none;
}
.material-symbols-outlined{
  position: relative;
  top: 5px;
}
nav a:hover{
transform: scale(1.1,1.1);
border-left: 1px solid var(--main-border-color);
transition: all 0.5s ;
}
.cocina:hover{
    transform: scale(1.02,1.02);
    transition: all 0.5s;
}
.receta:hover{
    transform: scale(1.001,1.01);
    transition: all 0.5s ;

}
iframe:hover{
    transform: scale(1.06,1.06);
    transition: all 0.5s;
}
footer{
    font-family: var(--main-mish-font-family);
    color: white;
}