*{
    margin: 0;
}

.img_logo img{
    width:45%;
}

.img_logo
{
    height: auto;
    width: 15%;
    overflow: hidden;
    margin: auto;
    margin-left: 2%;
}

.anclas a{
    margin: auto;
}

.anclas{
    display: flex;
    justify-content: space-around;
    width: 85%;
    background-color: black;

}

.nav_bar
{
    background-color: black;
    height: 15vh; 
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 10;
}
.bg_fvs
{
    background-color: green;
    height: 80vh;
    width: 100%;
}
.abt_us
{
    background-color: red;
    height: 500px;
    width: 100%;
}
.suc
{
    background-color: yellow;
    height: 500px;
    width: 100%;
}
.wrk_wt_us
{
    background-color: blue;
    height: 500px;
    width: 100%;
}
.footer
{
    background-color: grey;
    height: 500px;
    width: 100%;
}
.contenedor_body{
    padding-top: 7.5%
}

.row img
{
width: 170px;
border-radius: 10%;
height: 170px;
margin: 25px;
}
.row
{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    text-align: center;
}
.container-fluid
{
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 1%;
}

span
{
    color: purple;
}
.container-fluid h1
{
    text-align: center;
}
.mercaderia:hover
{
 transform: scale(1.2);   
 transition: all 0.5s ease;
}
