* {
    margin: 0;
}

:root {
    --navtam:20vh;
    /*--fonts--*/
    /*colors*/
    --font-secondary-color: #b010c2;
    /*sizes*/
    --font-size--primary: 16px;
    --font-size-big: 70px;
    /*weights*/
    --font-weight-normal: 550;
    --font-weight-gruesa: 450;
    /*fuentes*/
    --font-primary:
    "Montserrat", sans-serif;
    font-optical-sizing: auto;
    --font-secondary:
    "Oswald", sans-serif;
    font-optical-sizing: auto;
    --font-pixel:
    "Press Start 2P", system-ui;
    /*--fonts--*/
    /*colors*/
    --primary-color: #A954DF;
    --bg-primary-color: rgb(15, 15, 15);
    --bg-secondary-color: #A954DF;
    --bg-white-color: rgba(247, 233, 249, 1);
    --terciary-bg-color: #4787cc; 
}
.contenedor_body {
    padding-top: var(--navtam);
}

/*NAV*/

.img_logo img {
    width: 55%;
}
.anclas a {
    margin: auto;
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: var(--font-size--primary) ;
    font-weight: var(--font-weight-normal);
}
.anclas a:hover
{
    color:rgb(19, 134, 228);
}   
.nav_bar {
    background-color: var(--bg-primary-color);
    height: var(--navtam);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9;
    border-bottom: 2px solid var(--bg-secondary-color);
}

.img_logo {
    height: auto;
    width: 15%;
    overflow: hidden;
    margin: auto;
    margin-left: 2%;
}
#logo:hover
{
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

.anclas {
    display: flex;
    justify-content: space-around;
    width: 85%;
}

/*Burgers Favoritas*/
.bg_fvs img {
    height: 108%;
    width: 100%;
}

.bg_fvs {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}
/*Sobre nosotros*/
.abt_us {
    background-color: var(--bg-primary-color);
    height: 720px;
    width: 100%;
}
.img-abt_us
{
   padding-top: 7%;
   display: inline-block;
}
.img-abt_us img
{
    width: 120%;
}
.texto-abt_us
{
    display: inline-block;
    width: 65%;
    float: right;
    margin-top: 2%;
    text-align: center;
}
.texto-abt_us h2
{
    color: var(--bg-white-color);
    font-size: 60px;
    font-family: var(--font-pixel);
}
#Nosotros
{
    color: rgb(19, 134, 228);
    font-size: 70px;
    margin-left: 25%;
    margin-top: 2%;
}
#sobre
{
    margin-right: 25%;
    color: var(--primary-color);
}

/*Sucursales*/

.suc {
    background-color: yellow;
    height: 500px;
    width: 100%;
}
/*Trabaja con nosotros*/

.wrk_wt_us {
    background-color: blue;
    height: 500px;
    width: 100%;
}
/*footer*/

.footer {
    background-color: grey;
    height: 500px;
    width: 100%;
}

/*menu*/

.row img {
    width: 170px;
    border-radius: 10%;
    height: 170px;
    margin: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    text-align: center;
}

.tipos
{
padding-top: 3%;
padding-bottom: 3%;
}

.MENU
{
background-color: var(--bg-white-color);
font-family: var(--font-pixel);
font-size: 10px;
color: darkblue;
}

.MENU h2 {
    margin-left: 2%;
}

#menu {
    color: var(--bg-white-color);
    text-align: center;
    background-color: var(--bg-secondary-color);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-gruesa);
    font-family: var(--font-secondary);
    height: 150px;
    padding-top: 2%;
    margin: 0;
}

span {
    color: var(--font-secondary-color);
}

.mercaderia:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}
#CocaZero
{
    margin-top: 13%;
    width: 56%;
    height: 160px;
}
#Sprite
{
    width: 65%;
}

#SpriteZero
{
    margin-top: 13%;
    width: 57%;
    height: 150px;
}
#contentItemsCarrousell
{
    border: 5px solid black;
    height: 450px;
    overflow: hidden;
}
.itemcarrousell
{
    border: 1px solid black;
    height: 450px;
    position: relative;
}
.tarjetaCarrousell
{
    background-color: skyblue;
    height: 100%;
}
.Flechas 
{
    background-color: rgba(26, 26, 77, 0.831);
    position: absolute;
    top: 0;
    height: 90%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#tarjetaCarrousell-1
{
    background-color: blueviolet;
}

#tarjetaCarrousell-2
{
    background-color: rgb(35, 4, 63);
}

#tarjetaCarrousell-3
{
    background-color: rgb(3, 35, 100);
}