*{
    margin: 0;
}

.img_logo img{
    max-width: 100%;
    height: auto;
    width: 50%;
    margin-right: 10%;
}

.img_logo
{
    height: 15vh;
    width: 10%;
    background-color: red;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.anclas a{
    margin: auto;
}

.anclas{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: black;
    margin-left: 5%;
}

.nav_bar
{
    background-color: goldenrod;
    height: 15vh; 
    width: 100%;
    display: flex;
    position: fixed;
}
.bg_fvs
{
    background-color: green;
    height: 80vh;
    width: 100%;
}
.abt_us
{
    background-color: red;
    height: 500px;
    width: 100%;
}
.menu
{
    background-color: purple;
    height: 500px;
    width: 100%;
}
.suc
{
    background-color: yellow;
    height: 500px;
    width: 100%;
}
.wrk_wt_us
{
    background-color: blue;
    height: 500px;
    width: 100%;
}
.footer
{
    background-color: grey;
    height: 500px;
    width: 100%;
}
.contenedor_body{
    padding-top: 7.5%;
}